img.App-logo {
  max-width: 70px;
}

header.App-header > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.auth_box {
  padding: 10px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.auth_box .auth_form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: left;
}

.btn {
  cursor: pointer;
  padding: 10px 35px;
  border-radius: 14px;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid;
  font-size: 16px;
  line-height: 18px;
}

.btn-full {
  width: 100%;
}

.auth_form_input {
  margin-bottom: 5px;
}

.auth_card_actions .btn-full {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  background: #8792e5;
  border-color: #8792e5;
  color: #fff;
}

.btn-primary:hover {
  background: #515789;
  border-color: #515789;
  color: #fff;
}

.btn-secondary {
  background: #333;
  border-color: #333;
  color: #fff;
}

.btn-secondary:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

input.App-header-search {
  background: #15161a;
  color: #fff;
  padding: 10px 15px;
  border-radius: 14px;
  border: 1px solid #15161a;
  min-width: 480px;
  width: 60%;
  font-size: 16px;
  line-height: 22px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex: 0 auto;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0px;
}

.box {
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
}

.flex {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.App-Video-Player-Wrapper ul.video-debug li,
.App-Video-Player-Wrapper ul.video-info li {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.App-Video-Player-Wrapper video {
  border-radius: 14px;
}

.App-Video-Player-Inner {
  position: relative;
}

.App-Video-Player-Inner .video-debug {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  max-height: 300px;
  background: rgb(0 0 0 / 52%);
  overflow: scroll;
  padding: 10px 20px;
}

.App-Video-Player-Inner video {
  width: 100%;
  height: auto;
  background: #15161a;
}

.video-details-header h1 {
  margin: 0px;
  font-size: 3.3rem;
  line-height: 1;
  color: #b1afaf;
}

.video-details-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.magnet-info-block {
  background: #15161a;
  border-radius: 14px;
  align-items: center;
}

.magnet-info-block .magnet-info-magnet {
  flex: 0 auto;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #5d6a73;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.magnet-info-block .magnet-info-stats {
  padding-left: 10px;
  padding-right: 10px;
}

.magnet-info-block .magnet-info-stats .magnet-info-stat {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.magnet-info-block .magnet-info-stats .magnet-info-stat .icon {
  margin-right: 5px;
}

.video-details-footer .column.column-20 button {
  float: right;
  margin: 0px;
}

.video-description {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top: 1px dotted #5e6b74;
}

.avatar-icon {
  background: #8792e5;
  padding: 10px 10px;
  border-radius: 14px;
  color: #15161a;
}

.video-info-avatar .avatar-icon {
  margin-right: 10px;
}

.video-info-avatar .avatar-details span {
  width: 100%;
  display: inline-block;
}

.video-info-avatar .avatar-details span.name {
  color: #b1afaf;
}

.video-details-header .row {
  align-items: center;
}
